$color: green;
$height: 150px;

:local {
  @keyframes ro {
    30% {
      transform: rotateY(0);
    }

    40% {
      transform: rotateY(180deg);
    }

    80% {
      transform: rotateY(180deg);
    }

    90% {
      transform: rotateY(0);
    }

  }

  .item {
    // width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    height: $height;
    background-color: $color;
    margin-bottom: 10px;

    :global {
      // animation:ro 8s linear infinite forwards;
    }
  }

  .title {
    height: $height/2;
    margin: 0;
  }

  .dash {
    width: 30%;
    border-top: 1px solid #fff;
    height: 4px;
    display: inline-block;
    margin-right: 5px;
  }

  .from {
    font-size: 14px;
    height: $height/4;
    text-align: right;
  }

  .date {
    font-size: 14px;
    text-align: right;
    height: $height/4;
  }

  .list {
    padding: 10px;
  }
}

